@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap');

.container{
    margin: 40PX
}

.inner-container{
    margin: 10px 380px;
}

.heading{
    position: relative;
    word-wrap: break-word;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: rgb(0, 80, 252);
}


@media only screen and (max-width: 600px) {
    .container{
        margin: 20px
    }
    .inner-container{
        margin: 20px 115px;
    }
    .heading{
        font-size: 25px;
    }
    
    .search-bar{
        width: 80%;
    }
  }